<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Concierge</h3>
                    {{#if datos.IDPaciente}}
                    <h4>Paciente: {{datos.nombre}} {{datos.apellidoPaterno}}</h4>
                    <a href="/concierge/agregarCirculo" class="btn btn-primary m-4">
                        Agregar miembros a círculo cercano.   
                    </a>    
                    {{else}}
                    {{#if datos.IDCirculo}}
                    <h4>{{datos.nombre}} {{datos.apellidoPaterno}}</h4>
                    {{/if}}
                    {{/if}}
                    <a href="/concierge/citas" class="btn btn-primary m-4">
                        Citas   
                    </a>
                    <a href="/concierge/medicamentos" class="btn btn-primary m-4">
                        Medicamentos    
                    </a>
                    <a href="/concierge/tratamiento" class="btn btn-primary m-4">
                        Tratamiento    
                    </a>
                    <a href="/concierge/gestionSeguro" class="btn btn-primary m-4">
                        Seguro    
                    </a>
        
                  
                </div>
            </div>
        </div>

    </div>
</div>