<div class="container p-4">
    <div class="row">
        {{#each tratamiento}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                        <h3 class="card-title text-uppercase">
                            {{indicaciones}}
                        </h3>
                    {{#each medicamento}}
                    <p class="text-muted">
                        {{nombre}}
                    </p>
                    <p class="text-muted">
                        {{indicaciones}}
                    </p>
                    <p class="text-muted">
                        {{timeago created_at}}
                    </p>
                    {{/each}}
                    {{#each doctores}}
                    <p class="text-muted">
                        Dr. {{apellidoPaterno}}
                    </p>
                    {{/each}}

                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay ningun tratamiento asociado.</p>

            </div>
        </div>
        {{/each}}
    </div>
</div>